<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.asm_mob2041_phucngan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DỰ ÁN MẪU"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ASM_MOB2041_PhucNgan">
        <activity
            android:name=".Login.SceenActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="DỰ ÁN MẪU"
            android:theme="@style/Theme.ASM_MOB2041_PhucNgan.NoActionBar">

        </activity>
    </application>

</manifest>